:root {
    /* colors */
  --primary-color: #1e3a8a;
  --accent-color: #f97316;
  --white-color: #ffffff;
  --light-gray: #f3f4f6;
  --dark-gray: #374151;
  --primary-hover: #1e40af;
  --accent-hover: #ea580c;


/* Font Sizes */
--font-size-xxl: 3rem;
--font-size-xl: 2.5rem;
--font-size-l: 1.5rem;
--font-size-m: 1rem;
--font-size-s: 0.875rem;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #E2E8F0;
  background-size: cover;
  background-position: center;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}