header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000;
}
.logo_container {
  width: 250px;
}
.menu_btn {
  font-size: 2rem;
  color: var(--primary-color);
}